<div class="header_wrap">
	<h1 class="text-center">Recommended League of Legends videos</h1>	
</div>
<div class="container">
	<div class="row">
		<% @references.each do |ref| %>
			<div class="col-sm-6">
				<iframe width="420" height="315" src="<%= ref.video.embed_url %>" frameborder="0" allowfullscreen></iframe>
				<p><%= link_to "#{ref.count} mentions", show_video_path(ref.video.id)  %></p>
				<p><a href="<%= ref.video.url %>" target="_blank"><%= ref.video.url %></a></p>
			</div>
		<% end %>
	</div>
</div>
<style type="text/css">
	.header_wrap {
		background: url(<%= image_path 'header_art' %>) no-repeat center center;
		color: #FFF;
		padding: 40px;
		text-align: center;
	}

	h1 {
		background-color: #222;
		background-color: rgba(0,0,0,.7);
		display: inline-block;
		padding: 20px;
	}

	body {
		background: #111;
	}
</style>