<!DOCTYPE html>
<html>
	<head>
		<title>mmention: about</title>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<%= stylesheet_link_tag    "application", media: "all" %>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<%= yield %>


		<style type="text/css">
			.header_wrap {
				background: url(<%= image_path 'header_art.jpg' %>) no-repeat center center;
			}	
		</style>
		
		<div class="container">
			<h3>about mmention</h3>
			<div class="jumbotron">
				<div class="col-md-4">
					<img src="" alt="screenshot or something relative" />
				</div>
				<div class="col-md-8">
					<p>
						mmention is a media aggregator exhibiting a curation of the most mentioned videos in subreddit threads to elevate user submitted video content within the deeper community discussions virtually hidden deep within sub-reddit commentary.
						This is for curios video loving browsers of the respective genres available at the moment.
					</p>
				</div>
			</div>
		</div>
		



		<% if Rails.env.production? %>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-65878379-1', 'auto');
			  ga('send', 'pageview');

			</script>
		<% end %>
	</body>
</html>
