<!DOCTYPE html>
<html>
	<head>
		<title>mmention</title>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<%= stylesheet_link_tag    "application", media: "all" %>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<%= javascript_include_tag "application" %>
	</head>
	<body class="<%= yield(:body_class) %>">
		<%= yield %>

		<footer>
				<div class="container">
					<h4>Games</h4>

					<div class="row">
						<div class="col-sm-2">
							<ul class="list-unstyled">
								<li><a href="/games/leagueoflegends">League of Legends</a></li>
								<li><a href="/games/heroesofthestorm">Heroes of the Storm</a></li>
								<li><a href="/games/overwatch">Overwatch</a></li>
								<li><a href="/games/wow">World of Warcraft</a></li>
								<li><a href="/games/diablo">Diablo</a></li>
								
							</ul>
						</div>
						<div class="col-sm-2">
							<ul class="list-unstyled">
								<li><a href="/games/dota2">DotA2</a></li>
								<li><a href="/games/smite">Smite</a></li>
								<li><a href="/games/heroesofnewerth">Heroes of Newerth</a></li>
								<li><a href="/games/vainglory">Vainglory</a></li>
								<li><a href="/games/battleborn">Battleborn</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<ul class="list-unstyled">
								<li><a href="/games/csgo">CS:GO</a></li>
								<li><a href="/games/starcraft">Starcraft</a></li>
								<li><a href="/games/hearthstone">Hearthstone</a></li>
								<li><a href="/games/tf2">TF2</a></li>
								<li><a href="/games/minecraft">Minecraft</a></li>
							</ul>
						</div>
						<div class="col-sm-6 text-right">
							<br><br>
							<p><a href="http://github.com/pdenya/mmention" target="_blank" class="btn btn-xs btn-primary">View this site on GitHub</a></p>
							<p>Built by <a href="http://pdenya.com" target="_blank" class="btn btn-xs btn-primary">Paul Denya</a></p>
						</div>
					</div>
				</div>
			</footer>
		
		<% if Rails.env.production? %>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-65878379-1', 'auto');
			  ga('send', 'pageview');

			</script>
		<% end %>
	</body>
</html>
