<!DOCTYPE html>
<html>
	<head>
		<title>Leaguevids</title>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<%= stylesheet_link_tag    "application", media: "all" %>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<%= yield %>


		<style type="text/css">
			.header_wrap {
				background: url(<%= image_path 'header_art.jpg' %>) no-repeat center center;
			}	
		</style>
		
		<% if !Rails.env.production? %>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-65878379-1', 'auto');
			  ga('send', 'pageview');

			</script>
		<% end %>
	</body>
</html>
